[Unit]
Description=Fotoramka Web Server
After=network.target

[Service]
User=bieda
WorkingDirectory=/home/bieda/fotoramka/app
ExecStart=python3 app.py
Restart=always
RestartSec=5
Environment=FLASK_RUN_MODE=development
StandardOutput=append:/home/bieda/fotoramka/fotoramka.log
StandardError=append:/home/bieda/fotoramka/fotoramka.err

[Install]
WantedBy=multi-user.target