#calaStrona{
  display: grid;
  background-color: #9AC4D5;
  border: 4px solid white;
  border-radius: 10px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  color: white;
  padding: 20px;
  gap: 20px;
}
  
@media screen and (max-width: 768px){
  #calaStrona {
    width: 90%;
    padding: 10px;
    gap: 10px;
  }
}

  #zdjecie, #zdjecie1, #zdjecie2, #zdjecie3, #naglowek{
  display: flex;
  border: 4px solid #9AC4D5;
  border-radius: 10px;
  background-color: lightblue;
}

@media screen and (max-width: 768px){
  h2 {
    font-size: 10px;
  }
}
  
  button{
    font-weight: bold;
    color: white;
    background: none;
    border: none; 
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
  }

  button:hover{
    background-color: #8DB5C5;
    transition-duration: 0.5s;
  }
  
#nwm{
  text-align: center;
  border: 4px solid #9AC4D5;
  border-radius: 10px;
  background-color: lightblue;
}

#nwm2{
  display: flex;
  border: 4px solid #9AC4D5;
  border-radius: 10px;
  background-color: lightblue;
}

#dodawanie{
  text-align: center;
  border: 4px solid #9AC4D5;
  border-radius: 10px;
  background-color: lightblue;
}

img {
  float: left;
  margin-right: 20px;
  width : 30%;
  height: auto;
}

@media screen and (max-width: 768px){
  img {
    width: 50%;
  }
}

#nawigacja{
  border:4px solid #9AC4D5;
  border-radius: 10px;
  background-color: lightblue;
}

.main-menu{
  display: inline;
  padding: 20px;
}
  
  a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 10px;
    padding: 10px;
  }
  
  a:hover {
    background-color: #8DB5C5;
    transition-duration: 0.5s;
  }
  
  #container{
  display: inline;
}

#form1{
  text-align: start;
}

@media screen and (max-width: 768px){
  #nawigacja {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-content: space-between;
    row-gap: 20px;
  }

}