<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Hello World!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <script src="/script.js" defer></script>
  </head>

  <body>
    <div id="calaStrona">
      <div id="nwm">
        <h1>
          Galeria Zdjęć Biedów
        </h1>
      </div>
      <div id="naglowek">
    
      </div>
      

      <div id="nawigacja">
        <ul>
          
          <li class="main-menu"><a href="/">Strona główna</a></li>
          
          <li class="main-menu"><a href="/dodaj">Dodaj Zdjęcie</a></li>
          
          <li class="main-menu"><a href="/ustawienia">Ustawienia</a></li>
          
        </ul>
      </div>
       <div id="nwm2">
         
    <div>
      <form id="form1" method="post">
        <div id="container">
          
      
        <input type="radio" name="disp" value="random" {% if settings['disp'] == 'random' %}checked{% endif %}><label>Wyświetl losowo</label>
<!--       <input type="radio" name="disp" value="sequence" {% if settings['disp'] == 'sequence' %}checked{% endif %}><label>Wyświetl po kolei</label> -->
        <input type="radio" name="disp" value="none" {% if settings['disp'] == 'none' %}checked{% endif %}><label>Wyświetl jedno zdjęcie</label>
          
        </div>
        
        <br>
        <br>
        
         Jak Często Zmieniają Się Zdjęcia
      
        <select name="freq" id="freq">
        <option value="1" {% if settings['freq'] == '1' %}selected{% endif %}>raz na dzień</option>
        <option value="2" {% if settings['freq'] == '2' %}selected{% endif %}>dwa razy na dzień</option>
        <option value="4" {% if settings['freq'] == '4' %}selected{% endif %}>raz na 6 godzin</option>
        </select>
        <br>
        <br>
<!--        <input type="checkbox" />
        Zmieniaj zdjęcia w nocy
        <br>
        <br> -->
        
        Opis zdjęcia
      
        <select name="opis" id="opis">
          <option value="none" {% if settings['opis'] == 'none' %}selected{% endif %}>nie wyświetlaj</option>
          <option value="desc" {% if settings['opis'] == 'desc' %}selected{% endif %}>wyświetl opis</option>
          <option value="desc_date" {% if settings['opis'] == 'desc_date' %}selected{% endif %}>wyświetl opis, lokalizację i datę</option>
        </select>
        <br>
        <br>
        <input type="submit" />
        
      </form>
         </div>
         
      </div>
      
    </div>
    
  </body>
</html>